.row.p-t-3
  %h1.text-xs-center= @group.name
  .col-md-6.col-md-offset-3
    .list-group
      - @group.battles.each do |battle|
        = link_to battle.name, battle_path(@battle), class: 'list-group-item'
.row
  .col-md-2.col-md-offset-5.m-t-2
    %button.btn.btn-info-outline.btn-lg{"data-target" => "#groupUserFormModal", "data-toggle" => "modal", :type => "button"}
      Add user

.row.m-t-2
  - @group.users.each do |user|
    .col-md-3
      = image_tag('default_profile.jpg', class: 'card-img-top img-fluid')
      .card-block
        %p.card-text= user.email

= render 'group_users/form'
