#battleFormModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "battleFormModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#battleFormModalLabel.modal-title New battle
      .modal-body
        = simple_form_for @battle do |f|
          = f.input_field :name, label: false, placeholder: 'Name', class: 'form-group form-control'
          = f.input_field :mode, as: :select, :collection => [['for users', 0],['for groups', 1]], :include_blank => false, label: false, class: 'form-group form-control'
          = f.input_field :owner_id, as: :hidden, value: current_user.id
          = f.submit class: 'btn btn-info-outline'
