.row.p-t-3
  %h1.text-xs-center= @battle.name
  .col-md-6.col-md-offset-3
    .list-group
      - @battle.challenges.where.not(id: nil).each do |challenge|
        = link_to challenge.name, battle_challenge_path(@battle, challenge), class: 'list-group-item'
.row
  .col-md-offset-4
    .btn-group.m-t-3
      %button.btn.btn-info-outline{"data-target" => "#challengeFormModal", "data-toggle" => "modal", :type => "button"}
        Add challenge
      - if @battle.for_users?
        %button.btn.btn-info-outline{"data-target" => "#battleMemberUserFormModal", "data-toggle" => "modal", :type => "button"}
          Add user
      - elsif @battle.for_groups?
        %button.btn.btn-info-outline{"data-target" => "#battleMemberGroupFormModal", "data-toggle" => "modal", :type => "button"}
          Add group
      = link_to "Ranking", battle_ranking_path(@battle), class: 'btn btn-info-outline'

= render 'challenges/form'
= render 'battle_members/form_for_user'
= render 'battle_members/form_for_group'

.row.m-t-2
  - @battle.battle_members.each do |battle_member|
    .col-md-3
      = image_tag('default_profile.jpg', class: 'card-img-top img-fluid')
      .card-block
        %h4.card-title= battle_member.member.email if battle_member.member_type == 'User'
        %h4.card-title= battle_member.member.name if battle_member.member_type == 'Group'




