.row.p-t-3
  %h1.text-xs-center
    = @challenge.name
    %span.label.label-pill.label-info= @challenge.points
  %p.text-xs-center= @challenge.desc

.row.m-t-3
  = button_to "Back to battle", battle_path(@battle), method: :get, class: 'btn btn-info-outline center-block'
  - if policy(@challenge).complete_challenge?
    = simple_form_for @challenge_member do |f|
      = f.input_field :challenge_id, as: :hidden, value: @challenge.id
      = f.input_field :member_id, as: :hidden, value: current_user.id
      = f.input_field :member_type, as: :hidden, value: 'User'
      = f.submit "Complete it", class: 'btn btn-info-outline center-block'

.row.m-t-3
  %h4.text-xs-center Completed by
  - @challenge.challenge_members.each do |challenge_member|
    .col-md-3
      = image_tag('default_profile.jpg', class: 'card-img-top img-fluid')
      .card-block
        %h4.card-title= challenge_member.member.email if challenge_member.member_type == 'User'
        %h4.card-title= challenge_member.member.name if challenge_member.member_type == 'Group'


 

