.row.m-b-3
  %nav.navbar.navbar-fixed-top.navbar-light.bg-faded
    .container
      .nav.navbar-nav
        = link_to "Battles", battles_path, class: 'nav-item active nav-link'
        = link_to "Groups", groups_path, class: 'nav-item active nav-link'
        = link_to "Ranking", ranking_path, class: 'nav-item active nav-link'
        - if current_user
          = link_to "Log out", destroy_user_session_path, method: :delete, class: 'nav-item nav-link pull-xs-right'
          .nav-item.nav-link.pull-xs-right= "Logged as #{current_user.email}"
        - else
          = link_to "Sign up", new_user_registration_path, class: 'nav-item nav-link pull-xs-right'
          = link_to "Log in", new_user_session_path, class: 'nav-item nav-link pull-xs-right'
          


